
<div id="forms">
	<div class="subheading">
		Send a Message
	</div>
	<div id="form_left">
		<%= render 'form' %>
	</div>
	<div id='form_right'>
		<h5>Contact Us</h5>
		<p>Send us your feedback, request or query. We will get back to you as soon as possible.</p>
		<p><b>Fax </b>: 404 602 0363</p>
		<p><b>Phone </b>: 404-602-0038</p>
	</div>
</div>

