<div id="home_block">
  <div id="about_block" class="pages">
    <h5>About Us</h5>
    <p>CaseCreed is a free service that allows clients to book online appointment to meet up with local lawyers.
  CaseCreed started in Atlanta on April 16th 2010 with a simple but lofty goal of helping people book free online appointments with attorneys in the Atlanta area. We will be rolling out to other cities as soon as possible.</p>
  </div> 
</div>


