<div id="home_block">
  <div id="about_block" class="pages">
    <h5>Press Kit</h5>
    <p>If you like to blog or write about CaseCREEd, please contact us at press@casecreed.com or call us on 404 602 0038, Fax: 404 602 0363</p>
    <p>For sales or any kind of support drop us a mail at haji@casecreed,com.</p>
    <p><%= link_to "caseCREEd Logo Small", pages_logo_path %></p>
    <p><%= link_to "caseCREEd homepage", pages_homepage_path %></p>
  </div>
</div>

