
<div id="select_user">
  <h3 id="tag_line">Select Account type you want to create</h3>
<div class="select_user_block" style="margin:10px 0 0 18px;">
  <div class="select_user_block_inside">
    <p>Looking to make an appointment with one of Lawyer's in your area? </p>
  <%= link_to "I am Looking for a Lawyer" , user_sign_up_path ,:id => "looking_for_lawyer" %></div>
</div>  
<div class="select_user_block" style="margin:10px 0 0 18px;">
  <div class="select_user_block_inside">
    <p>Looking to become a member of CaseCreed's network of practitioners? </p>
    
    <%= link_to "I am a Lawyer", lawyer_sign_up_path,:id=>"i_lawyer" %>
  </div>
</div>
</div>